@page "/"

<div class="text-center bg-light p-3">
    <h1>Página Inicial</h1>
    Seja bem-vindo ao projeto
</div>
<hr>

<div class="alert alert-info mt-5" role="alert">
  Este projeto visa demonstrar a interação com o banco de dados e todas as opções de CRUD. Use a barra de navegação para transitar entre as tabelas.
</div>

<hr class="mt-5">